body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;}

#road-view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#road-view.hidden {
    display: none;
}

.road-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#road-image {
    height: 100%;
    width: auto;
}

#back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 16px;
}
#scene {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
}
#back-button {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 16px;
}
